defaults
    retries 3
    option  redispatch
    timeout client 30s
    timeout connect 4s
    timeout server 30s
    # Newly added timeouts
    timeout http-request 10s
    timeout http-keep-alive 2s
    timeout queue 5s
    timeout tunnel 2m
    timeout client-fin 1s
    timeout server-fin 1s

frontend etcd-frontend
  bind *:{{ haproxy_port }}
  mode tcp
  option tcplog
  default_backend etcd-backend


backend etcd-backend
  mode tcp
  option ssl-hello-chk
  balance roundrobin
    server {{ hostname1 }}.cluster.local {{ ipaddress1 }}:2379  verify none
    server {{ hostname2 }}.cluster.local {{ ipaddress2 }}:2379  verify none

